/*! default extra styles no changes */
p.navbar-btn a.btn {
  width: 90%;
  width: calc(100% - 20px);
  margin-left: 5%;
  margin-left: calc(20px / 2);
}
form.form-inline {
  margin-bottom: 10px;
}
.h_iframe        {position:relative; padding-top: 56%;overflow:hidden;}
  .h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;overflow:hidden;}

.full-size {
  padding: 0;
}
body#noTopPadding {
  padding-top:0px;
}
